h1 {
    font-size: 10px;
    font-family: san-serif;
    padding: 2px;
    margin: 10px;
    font-weight: 3px;
    text-decoration: ;
    color: #ffff;
    background-color: black;
}

h2 {
    font-size: 15px;
    font-family: san-serif;
    padding: 1px;
    margin: 10px;
    font-weight: 2px;
    color: green;
    background-color: white;
}

p {
    font-family: san-serif;
    font-size: 10px;
    padding: 2px;
    margin: 15px;
    color: Purple;
    background-color: green;
}

.logo {
    background-size: cover;
    background-image: url(https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png);
    background-color: black;
    height: 50px;
    width: 50px;
}
